---
import Layout from '../layouts/layout2.astro';
import Comunicaciones from '../components/got/comunicaciones.astro';
import type { Char } from '../types/types'
import Character from '../components/got/character.astro';
import DATA from '../data/data.json';

console.log(DATA);
---

<Layout>
    <div class="app container">
        <ul class="characters-list row list-unstyled">

            {
                //Mapeamos el array, por cada elemento renderiza un Character
                DATA.map((item) => <Character character={item as Char}/>)
            }
            
        </ul>
    </div>
    <Comunicaciones />
</Layout>


<style></style>
