---
import type { Char } from '../types/types'

type Props = {
    character: Char
}

const {character } = Astro.props

const {character: {category, reignYears, adviseTo, serverTo, skillLevel, weapon }};
---

<ul class="list-unstyled">
    {
        category === 'king' && 
        <li>Años de reinado: X</li>
    }
    {
        category === 'fighter' && 
        <li>Tipo de arma: X</li>
        <li>Destreza: X</li>
    }
    {
        character.category === 'adviser' && 
        <li>Asesora a: X</li>
    }
    {
        character.category === 'squire' && 
        <li>Sirve a: X</li>
        <li>Peloteo a: X</li>
    }
    <li>Años de reinado: X</li>
    <li>Arma: XXX</li>
    <li>Destreza: X</li>
    <li>Peloteo: X</li>
    <li>Asesora a: X</li>
    <li>Sirve a: X</li>
</ul>